@font-face {
  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  src: url('./w95fa.woff2') format('woff2');
}

@font-face {
  font-family: 'W95FA';
  font-style: normal;
  font-weight: 500;
  src: url('./w95fa.woff2') format('woff2');
}

@font-face {
  font-family: 'W95FA';
  font-style: normal;
  font-weight: 600;
  src: url('./w95fa.woff2') format('woff2');
}

@font-face {
  font-family: 'W95FA';
  font-style: normal;
  font-weight: 700;
  src: url('./w95fa.woff2') format('woff2');
}